
<html>
  <head>
    <h1>縣市</h1> 
  </head>
 
  <body BGCOLOR="#FFC0CB">
   
    <table CELLSPACING=y>
      <tr><th>縣市</th></tr>
      <tr><td><INPUT TYPE=submit VALUE=台北市></td></tr>
      <tr><td><INPUT TYPE=submit VALUE=新北市></td></tr>
      <tr><td><INPUT TYPE=submit VALUE=桃園縣></td></tr>
      <tr><td><INPUT TYPE=submit VALUE=台中市></td></tr>
      <tr><td><INPUT TYPE=submit VALUE=台南市></td></tr>
      <tr><td><INPUT TYPE=submit VALUE=高雄市><BASE HREF=/高雄.html></td></tr>

    </table>

  </body>
  <img src="static/images/tt.jpg"alt="logo1" width="800" height="1400">
</html>











