{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
    <iframe style="border:none" width="640" height="360" src="https://lh4.googleusercontent.com/0oqeH10IaqEu50oR7l4GlHh5CXZKRDElbeyXIUAi8PokmHrGT9iqmdVlM1KhCEwsRQ9Kf6O8nQYa-YQyReVGTotQ1A8kLTPYex7-rPMmreZXJ_5jA5qZMT1n4eFybmJwaw=w1280"></iframe>
    <iframe style="border:none" width="640" height="360" src="https://lh4.googleusercontent.com/nz8giKaMdj21XBc0Zo2G5hFGhJbBE3aCrz9MdRXDKdQHW847dsg3oQGh9exK0HBUeawHpibcHdxvRvybbvhKsyt_uP6MY11oRWeIOVsZx64kARcPZTgZH1hOB9gWeaRBXA=w1280"></iframe>
    

    <iframe style="border:none" width="640" height="360" src="https://lh6.googleusercontent.com/zY5Rk4Yai73Gfo8Mh3oyw5_J63JO4nd8ObkMekNtJtRCOopUEI8O6o54kN-D3YaNebqLsnpcR6xMj8sWIaMsyyoeIusW1_YBwpuBqNk6Q-NRXQtJQXX-nPWvTF-tana_bw=w1280"></iframe>
    <iframe style="border:none" width="640" height="360" src="https://lh4.googleusercontent.com/3qbNv32_09pOlw0_KTV3gYXdOpESKFeVrRjH8aOqNYakuWFuqkyA5n7gv6dXa-1RWsF-F3LXT1W985POZzhTIJpS-Ixp3FRRDEdAEj94k8eqj9gEm3Ywc3IN5uHBzM8QFg=w1280"></iframe>
    <iframe style="border:none" width="640" height="360" src="https://lh5.googleusercontent.com/99tt0C84oC4whG-kFL5-CSD1o899uqT0MFspSeBq6wgeoJduJnH4ZglvrrwxmhL8JJSe_Oqt6T51yKYUpgeNGRKKBDdwy03ssolnRSJZ2CfEAvhSkW-bCW3dnYtUfgUSgA=w1280" data-ruffle-polyfilled=""></iframe>
    <iframe style="border:none" width="640" height="360" src="https://lh4.googleusercontent.com/BINBL960qQ4rJulaVQHb6JOLZhQjRB86BpJnuh-zfU5Zdzab7GlpXP74GY7kJ6e8EUoXVn_BrOaPMevHzT5wUVGp5OWVimGC4_SFuQJpO5qOPPRq-Q3vd403tjc6MMZVjQ=w1280"></iframe>
  </div>
</html>

{% endblock %}

