{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
    <img src="https://i.imgur.com/lv0C4Uy.jpg"alt="logo" width="1280" height="720">
    <img src="https://i.imgur.com/ZGb6mvb.jpg"alt="logo" width="640" height="360">
    <img src="https://i.imgur.com/TiNVGSv.jpg"alt="logo" width="640" height="360">
    <img src="https://i.imgur.com/1EXGbUp.jpg"alt="logo" width="640" height="360">
    <img src="https://i.imgur.com/jZ6MDGQ.jpg"alt="logo" width="640" height="360">
    <img src="https://i.imgur.com/bQD8w16.jpg"alt="logo" width="640" height="360">
  </div>
</html>

{% endblock %}

