{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
    <img src="static/images/cc.jpg"alt="logo" width="300" height="300">
    <img src="static/images/bb.jpg"alt="logo1" width="600" height="300">
    <img src="static/images/dd.jpg"alt="logo1" width="300" height="300">
    <h2>       </h2>
    <center>
      <iframe style="border:none" width="300" height="300" src="https://tw.piliapp.com/generator/qr-code/iframe/?data=http%3A%2F%2Fpili.app%2Fig%2F0514_1.lu&size=300&type=dots&ft=M" data-ruffle-polyfilled=""></iframe>
    </center>
  </div>
</html>

{% endblock %}