{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
      <iframe style="border:none" width="1280" height="720" src="https://lh5.googleusercontent.com/99tt0C84oC4whG-kFL5-CSD1o899uqT0MFspSeBq6wgeoJduJnH4ZglvrrwxmhL8JJSe_Oqt6T51yKYUpgeNGRKKBDdwy03ssolnRSJZ2CfEAvhSkW-bCW3dnYtUfgUSgA=w1280" data-ruffle-polyfilled=""></iframe>
  </div>
</html>

{% endblock %}