{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
      <iframe style="border:none" width="1280" height="720" src="https://lh6.googleusercontent.com/BszJw2TYAlU3XFP4n9HVNJozccEjC81hIArrhaoJciNxWgbWKwm6KyIdu0KpVNViPiyLCgAlI0nbLHOn39FtmW_SqpdeOAC3bV6R3tW-F10eQTv3GEYhnnOm1B4ugoOCBg=w1280""></iframe>
  </div>
</html>

{% endblock %}