<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人口趨勢圖-台北</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h2>台北</h2>
    <canvas id="lineChart"></canvas>
        <script>
        var cpdata = [
{ year: '1837', population: 200},
{ year: '1847', population: 210},
{ year: '1857', population: 220},
{ year: '1867', population: 230},
{ year: '1877', population: 240},
{ year: '1887', population: 250},
{ year: '1897', population: 260},
{ year: '1907', population: 270},
{ year: '1917', population: 280},
{ year: '1927', population: 290},
{ year: '1937', population: 300},
{ year: '1947', population: 310},
{ year: '1957', population: 320},
{ year: '1967', population: 330},
{ year: '1977', population: 340},
{ year: '1987', population: 350},
{ year: '1997', population: 360},
{ year: '2007', population: 370},
{ year: '2017', population: 380},
          // 添加更多年份和相应的人口数据
        ];

        var p = cpdata.map(entry => entry.population);
        var years = cpdata.map(entry => entry.year);

        var ctxL = document.getElementById("lineChart").getContext('2d');
        var myLineChart = new Chart(ctxL, {
            type: 'line',
            data: {
                labels: years, // 使用年份数据作为标签
                datasets: [{
                    label: "男",
                    data: p,
                    backgroundColor: 'rgba(105, 0, 132, 0.2)',
                    borderColor: 'rgba(200, 99, 132, 1)',
                    borderWidth: 2
                },
                {
                    label: "女", // 数据集标签为“女”
                    data: p, // 女性人口数据（需要替换为实际数据）
                    backgroundColor: [
                        'rgba(0, 137, 132, .2)', // 数据集背景色
                    ],
                    borderColor: [
                        'rgba(0, 10, 130, .7)', // 数据集边框颜色
                    ],
                    borderWidth: 2 // 数据集边框宽度
                }]
            },
            options: {
                responsive: true
            }
        });
    </script>
</body>
</html>
