{% extends "base.html" %}

{% block title %} 柱的網站 {% endblock %}

{% block headmessage %}
  <h2> 歡迎來到 {{ myname }} 的網站</h2>
{% endblock %}

{% block content %} 
<html>
  <title>
    柱的網站
  </title>
  <head>
  </head>
  <body>
    
  </body>
  <div class='well'>
      <iframe style="border:none" width="1280" height="720" src="https://lh6.googleusercontent.com/zY5Rk4Yai73Gfo8Mh3oyw5_J63JO4nd8ObkMekNtJtRCOopUEI8O6o54kN-D3YaNebqLsnpcR6xMj8sWIaMsyyoeIusW1_YBwpuBqNk6Q-NRXQtJQXX-nPWvTF-tana_bw=w1280"></iframe>
  </div>
</html>

{% endblock %}

